.gallery {
  --gap: 0em;
  display: grid;
  padding:1em;

  grid-template-columns: repeat(2, 40vw);
  grid-row: 40vw;
  grid-gap: var(--gap);
  justify-content: center;
}

.project {
  display: block;
  padding-top: 1em;

  width: 100%;

  font-size: 0.8em;
  color: var(--content_text_colour);

  background: var(--colour_header_background_foreground);

  overflow: hidden;
  transition: background 0.7s ease-in, color .4s ease-in;
}

.project:hover {
  background: var(--colour_background_project_hover);
  color: #fff;
}

.content {
  padding: 1em;
  overflow-wrap: break-word;
}

/*
 * Deals with mobile screen sizes
 */

@media(max-width:600px) {
  .menu {
    grid-template-columns: 100%;
  }

  .logo {
    font-size: 2em;
  }

  .project {
    width: 100%;
  }

  .gallery {
    padding: 0;
    grid-template-columns: 100%;
    font-size: 1em;
  }
}