.gallery {
  --gap: 0.1em;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(4, calc(25% - var(--gap)/2));
  grid-gap: var(--gap);
}

.project {
  display: block;
  width: 100%;
  height: 15em;
  padding-top: 1em;

  font-size: 1em;
  color: var(--content_text_colour);
  background: var(--colour_header_background_foreground);

  overflow: hidden;
  transition: background .4s, color .4s;
}

.project:hover {
  background: var(--colour_background_project_hover);
  color: #fff;
}

.content {
  padding: 1em;
  overflow-wrap: break-word;
}

@media(max-width:600px) {
  .menu {
    grid-template-columns: 100%;
  }

  .logo {
    font-size: 2em;
  }

  .project {
    width: 100%;
  }

  .gallery {
    grid-template-columns: 100%;
    /* height: 20vh; */
    font-size: 1em;
  }
}