* {
  --colour_background_main: #222;
  --colour_header_background_foreground: #eee;
  --content_text_colour: #111;
  --button_background: #eee;
  --button_colour: #333;
  --button_background_hover: #333;
  --button_colour_hover: #fff;
  --colour_background_project_hover: #1a51ab;
  font-family: sans-serif;
  font-weight: 100;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}