* {
  --colour_background: #F2F2F2;
  --colour_foreground: #000;
  --color_primary: #F28D35;

  font-family: sans-serif;
  font-weight: 100;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.hov-pointer:hover {
  cursor: pointer;
}

p {
  line-height: 1.5;
}

.disable-select {
  /* Ensure sure that people do not accidentaly select this element */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}