* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
  background: var(--colour_background_main);
}

.github {
  position: absolute;
  right: .5vh;
  width: 5vh;
  margin: 0.5vh;
}

.title {
  text-align: center;
  /* Making sure that people do not accidentaly select the nav bar */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  background: var(--colour_header_background_foreground);
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  font-size: 1.5em;
}

.logo,
.button {
  margin: 0;
}

.logo {
  padding: 2em;
  font-weight: 100;
  text-align: center;
  color: #111;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 1em;
  width: 100%;

  text-align: center;
  color: var(--button_colour);
  background: var(--button_background);
  transition: background 0.3s;
}

.button:hover {
  background: var(--button_background_hover);
  color: var(--button_colour_hover);
}

#main {
  margin-top: 5vh;
  font-size: 1.5em;
  text-align: center;
}

#main * {
  opacity: 1;
}

@media(max-width:600px) {
  .github{
    display:none;
  }

  .button{
    color: white;
    background: var(--colour_background_main);
  }
  .logo{
    font-size: 0.5em !important;
    color: white;
    background: var(--colour_background_main);
  }

  .menu{
    /* display: none; */
    grid-template-columns: repeat(2, 50vw) !important;

  }
}