@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
    background: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}



.github {
    position: absolute;
    right: 0em;
    width: 2em;
    margin: 3px;
}

.title {
    color: #eee;
    text-align: center;
    /* Making sure that people do not accidentaly select the nav bar */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.title .logo.circle,
.button {
    display: inline-block;
    background: #1486CC;
    border-radius: 50%;
    text-align: center;
    color: #eee;
    margin: auto;
    transition: background 0.5s;
}


.logo.circle {
    width: 8em;
    height: 8em;
    line-height: 6em;
    font-size: 3em;
}
.logo.circle:hover {
    background: #333;
}

.button {
    width: 5em;
    height: 5em;
    line-height: 5em;
    font-size: 2em;
}
.button:hover {
    background: #333;
}

#main {
    margin-top: 2em;
    margin-left: 7em;
    margin-right: 7em;
    color: #333;
}

#main * {
    opacity: 1;
}

.gallery {
    display: inline-block;
    background-color: #333;
    height: 100px;
    width: 15em;
    color: rgba(255, 255, 255, 0.7);
    padding: 0em;
    margin: 0.1em;
    text-align: center;
    background-size: cover;

}

.gallery p {
    font-size: 0.7em;
    margin: 0;
    background: rgba(3, 3, 3, 0.7);
    width: 100%;
    height: 100%;
    line-height: 7em;
    transition: background 1s;
}

.gallery p:hover {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.5);
}
