@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  --content_text_colour: #111;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background: #222;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.github {
  position: absolute;
  right: .5vh;
  width: 5vh;
  margin: 0.5vh;
}

.title {
  text-align: center;
  /* Making sure that people do not accidentaly select the nav bar */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  background: #eee;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  font-size: 1.5em;
}

.logo,
.button {
  margin: 0;
}

.logo {
  padding: 2em;
  font-weight: normal;
  text-align: center;
  font-size: 4em;
  color: #111;
}

.button {
  display: inline-block;
  margin: 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  color: #eee;
  background: #333;
  transition: background .5s ease-in;
}

.button:hover {
  background: #222;
  color: white;
}

#main {
  margin-top: 5vh;
  font-size: 1.5em;

  text-align: center;
}

#main * {
  opacity: 1;
}

.gallery {
  --gap: 1em;
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--gap)/2));
  grid-gap: var(--gap);
}

.project {
  width: 100%;
  padding-top: 1em;

  color: var(--content_text_colour);
  background: white;
  overflow: hidden;
}

.st {
  background: #fff;
  height: 40%;
  border-bottom: 1px solid #aaa;
}

.st img {
  display: block;
  height: 100%;
  margin: auto;
}

.content {
  padding: 1em;
  overflow-wrap: break-word;
}

@media(max-width:600px) {
  .menu{
    grid-template-columns: 100%;
  }

  .logo {
    font-size: 2em;
  }
  .project {
    width: 100%;
  }
}